<center>
  <script src="https://static.kuula.io/embed.js" data-kuula="https://kuula.co/share/Nhzw6?fs=0&vr=0&sd=1&autorotate=-1.42&thumbs=1&alpha=0.79&keys=0&info=1&logo=1" data-width="50%" data-height="300px"></script>
  <section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Progetto pilota open source per progettazione, erogazione e utilizzo
          <br> di scenari interattivi per la formazione e re-training con simulazione virtuale</h2>
        <p class="lead">Questo progetto utilizza l'applicativo HTML 5 <a target="_blank" href="https://h5p.org/">H5P</a>per risorse didattiche aperte.</p>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
