<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Progetto pilota open source per progettazione, erogazione e utilizzo
          <br> di scenari interattivi per la formazione e re-training con simulazione virtuale</h2>
        <p class="lead">Questo progetto utilizza l'applicativo HTML 5 <a target="_blank" href="https://h5p.org/">H5P</a>per risorse didattiche aperte.</p>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
