<br>
<br>
<center>
  <aside class="call-to-action bg-primary">
  <div class="container">
    <div class="row">
      <script src="https://static.kuula.io/embed.js" data-kuula="https://kuula.co/share/Nhzw6?fs=0&vr=0&sd=1&autorotate=-1.42&thumbs=1&alpha=0.79&keys=0&info=1&logo=1" data-width="50%" data-height="300px"></script>
<br>
      <div class="col-lg-12 text-center">
        <h3>CONTATTI</h3>
        <a href="https://fad.118er.it/" class="btn btn-lg btn-light">corsi</a>
        <a href="https://www.360.unipr.it" class="btn btn-lg btn-dark">progetti</a>
      </div>
    </div>
  </div>
</aside>
