<br>
<br>
<center>
  <script src="https://static.kuula.io/embed.js" data-kuula="https://kuula.co/share/Nhzw6?fs=0&vr=0&sd=1&autorotate=-1.42&thumbs=1&alpha=0.79&keys=0&info=1&logo=1" data-width="25%" data-height="300px"></script>
<aside class="call-to-action bg-primary">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h3>The buttons below are impossible to resist.</h3>
        <a href="#" class="btn btn-lg btn-light">Click Me!</a>
        <a href="#" class="btn btn-lg btn-dark">Look at Me!</a>
      </div>
    </div>
  </div>
</aside>
