<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <ul class="list-inline">
          <li>
            <a href="https://m.facebook.com/profile.php?id=1686904981321746&__tn__=%2AsH-R{{ https://m.facebook.com/profile.php?id=1686904981321746&__tn__=%2AsH-R }}"><i class="fa fa-facebook fa-fw fa-3x"></i></a>
          </li>
          <li>
            <a href="https://twitter.com/auslpiacenza{{ https://twitter.com/auslpiacenza }}"><i class="fa fa-twitter fa-fw fa-3x"></i></a>
          </li>
          <li>
            <a href="https://github.com/VR118PC/{{ https://github.com/VR118PC/ }}"><i class="fa fa-github fa-fw fa-3x"></i></a>
          </li>
        </ul>
        <hr class="small">
        
            <aside class="bg-dark">          
                      <center> <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="Licenza Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" /></a>
                                  <br><br>Realizzato con <i class="fa fa-heart-o" aria-hidden="true"></i>
 a fini sperimentali e di ricerca.<br>
                        Si ringrazia la Direzione dell'AUSL e del 118 di Piacenza per l'autorizzazione al'utilizzo delle immagini e per la collaborazione nel progetto.<br>VR118PC è un'opera intellettuale rilasciata e distribuita con licenza<br><a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Attribuzione - Non commerciale
                                  <br>Condividi allo stesso modo 4.0 Internazionale</a><br>
<br><br>
        <p class="text-muted">Copyleft &copy; {{ site.copyright }} 20{{ site.time | date: '%y' }} Federico Monaco PhD</p>
      </div>
    </div>
  </div>
</footer>
