<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <ul class="list-inline">
          <li>
            <a href="https://m.facebook.com/profile.php?id=1686904981321746&__tn__=%2AsH-R{{ https://m.facebook.com/profile.php?id=1686904981321746&__tn__=%2AsH-R }}"><i class="fa fa-facebook fa-fw fa-3x"></i></a>
          </li>
          <li>
            <a href="https://twitter.com/auslpiacenza{{ https://twitter.com/auslpiacenza }}"><i class="fa fa-twitter fa-fw fa-3x"></i></a>
          </li>
          <li>
            <a href="https://github.com/VR118PC/{{ https://github.com/VR118PC/ }}"><i class="fa fa-github fa-fw fa-3x"></i></a>
          </li>
        </ul>
        <hr class="small">
        
            <aside class="bg-dark">          
                      <center> 
                        <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="Licenza Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" /></a>
                                  <br>
                        <br>
                        <h4>Realizzato con <i class="fa fa-heart-o" aria-hidden="true"></i> a fini sperimentali e di ricerca
                        <br>
                        nell'ambito del progetto <a href="https://www.360.unipr.it">TRESEIZERO</a> per l'integrazione dell'e-Learning con la simulazione
                          <br>
                          presso il Laboratorio didattico per la simulazione in Medicina SIM-LAB
                          <br>
                          Dipartimento di Medicina e Chirurgia dell'Università degli Studi di Parma.
                        </h4><br><br>
                        Si ringraziano la Direzione dell'AUSL e del 118 di Piacenza per l'autorizzazione al'utilizzo delle immagini e per la collaborazione nel progetto.
                        <br>
                        Un ringraziamento va anche a Gaetano Marco La Manna per la collaborazione durante le riprese degli ambienti.
                        <br>
                        <br>
                          VR118PC è un'opera intellettuale rilasciata e distribuita con licenza<br><a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Attribuzione - Non commerciale
                                  <br>       
                        <br>
                          Condividi allo stesso modo 4.0 Internazionale</a><br>
<br>
                          <br>
        <p class="text-muted">Copyleft &copy; {{ site.copyright }} 20{{ site.time | date: '%y' }} Federico Monaco PhD</p>
      </div>
    </div>
  </div>
      <br>
      <center>
        <div align=center><a href='https://www.counter12.com'><img src='https://www.counter12.com/img-3dCb1z6Z641AcAwz-50.gif' border='0' alt='free counter'></a><script type='text/javascript' src='https://www.counter12.com/ad.js?id=3dCb1z6Z641AcAwz'></script></div>
        </footer>
